#TAREA



1.   Documenta tu colab
2.   Calcular la ley de las siguientes v.a
      * La diferencia de las caras es mayor a 1.
      * La suma de las caras es par.
3.   Verifica en cada caso que
$$\sum_{k\in R_{X}}\mathbb{P}(X=k) = 1$$
4.   Grafica la funciÃ³n de dist de la v.a S (la suma de los resultados es n)
5. Sube tu notebook a Github

In [16]:
from itertools import product #Para producto cartesiano
from fractions import Fraction
from collections import defaultdict
import pandas as pd

In [ ]:
def P(A,Omega): #Fucion para expresar en fraccion la probabilidad
  P = Fraction(len(A),len(Omega))
  return P

In [5]:
#Creamos nuestro espacio muestral Omega
D = [i for i in range(1,7)]
Omega = set (product(D,repeat=2))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

### La diferencia de las caras es mayor a 1

In [13]:
S1 = {(i,j): abs(i-j) for i,j in Omega if abs(i-j)>1}
S1

{(3, 1): 2,
 (4, 6): 2,
 (5, 1): 4,
 (1, 6): 5,
 (2, 5): 3,
 (1, 3): 2,
 (6, 2): 4,
 (4, 2): 2,
 (3, 6): 3,
 (5, 3): 2,
 (2, 4): 2,
 (1, 5): 4,
 (6, 1): 5,
 (6, 4): 2,
 (4, 1): 3,
 (3, 5): 2,
 (5, 2): 3,
 (1, 4): 3,
 (2, 6): 4,
 (6, 3): 3}

In [14]:
dS1 = defaultdict(set)

for i,j in S1.items():
  dS1[j].add(i)

In [15]:
dS1

defaultdict(set,
            {2: {(1, 3),
              (2, 4),
              (3, 1),
              (3, 5),
              (4, 2),
              (4, 6),
              (5, 3),
              (6, 4)},
             4: {(1, 5), (2, 6), (5, 1), (6, 2)},
             5: {(1, 6), (6, 1)},
             3: {(1, 4), (2, 5), (3, 6), (4, 1), (5, 2), (6, 3)}})

In [23]:
fS1 = {k : P(A,S1) for k,A in dS1.items() }

fS1 = pd.Series(fS1)
fS1 = fS1.sort_index() #ordena
fS1

2     2/5
3    3/10
4     1/5
5    1/10
dtype: object

In [24]:
P1 = sum(fS1.values)
P1

Fraction(1, 1)

###La suma de las caras es par

In [25]:
S2 = {(i,j): i+j for i,j in Omega if ((i+j)%2)==0}
S2

{(3, 1): 4,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 3): 4,
 (6, 2): 8,
 (4, 2): 6,
 (3, 3): 6,
 (5, 3): 8,
 (2, 4): 6,
 (1, 5): 6,
 (6, 4): 10,
 (3, 5): 8,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (2, 6): 8,
 (6, 6): 12}

In [26]:
dS2 = defaultdict(set)

for i,j in S2.items():
  dS2[j].add(i)

In [27]:
dS2

defaultdict(set,
            {4: {(1, 3), (2, 2), (3, 1)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [28]:
fS2 = {k : P(A,S2) for k,A in dS2.items() }

fS2 = pd.Series(fS2)
fS2 = fS2.sort_index() #ordena
fS2

2     1/18
4      1/6
6     5/18
8     5/18
10     1/6
12    1/18
dtype: object

In [29]:
P2 = sum(fS2.values)
P2

Fraction(1, 1)